#page-content-wrapper {
    padding: 0;
}


.list-user {
    /* padding: 30px 120px; */
    background-color: #F9FAFB;
}

.header-list_user {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.btn-add_user {
    color: #fff;
    outline: none;
    border-radius: 8px;
    background-color: rgb(33, 43, 54);
    width: 120px;
    height: 36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-search {
    background-color: #fff;
    padding: 10px 30px 40px 30px;
}

.header-search_user {
    border: 1px solid rgba(33, 43, 54, 0.2);
    color: rgb(182, 185, 189);
    width: 250px;
    height: 56px;
    display: flex;
    align-items: center;
    padding-left: 14px;
    border-radius: 8px;
}

.header-search_input {
    border: none;
    outline: none;
    width: 100%;
}

.list_info-user {
    background-color: #fff;
}

.list_info-user>table {
    width: 100%;
}

.list_info-user>.list_info-header {
    width: 100%;

}

.list_info-header {
    background-color: rgb(244, 246, 248);
    font-size: 16px;
    color: rgb(76, 76, 76);
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 20px;
}

.list_info-header td {
    padding: 15px;
}

tbody tr td {
    padding: 20px;
    white-space: nowrap;
    /* Ngăn văn bản xuống dòng */
    overflow: hidden;
    /* Ẩn phần văn bản bị tràn ra ngoài */
    text-overflow: ellipsis;
    /* Hiển thị dấu ... khi văn bản bị tràn */
}


tbody tr:hover {
    background-color: #F6F7F8;
}

.status {
    display: flex;
    align-items: center;
    height: 100%;
}

.active_status {
    height: 24px;
    min-width: 24px;
    line-height: 0;
    border-radius: 6px;
    cursor: default;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    text-transform: capitalize;
    padding: 0px 6px;
    font-size: 0.75rem;
    font-weight: 700;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(0, 120, 103);
    background-color: rgba(0, 167, 111, 0.16);
}

.banned_status {
    height: 24px;
    min-width: 24px;
    line-height: 0;
    border-radius: 6px;
    cursor: default;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    text-transform: capitalize;
    padding: 0px 6px;
    font-size: 0.75rem;
    font-weight: 700;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(183, 29, 24);
    background-color: rgba(255, 86, 48, 0.16);

}

.edit {
    position: relative;
    cursor: pointer;
}

.edit {
    overflow: visible;
}

.modal_change {
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 8px;
    box-shadow: rgba(145, 158, 171, 0.2) 0px 5px 5px -3px, rgba(145, 158, 171, 0.14) 0px 8px 10px 1px, rgba(145, 158, 171, 0.12) 0px 3px 14px 2px;
    position: absolute;
    overflow: hidden auto;
    min-width: 16px;
    min-height: 16px;
    outline: 0px;
    width: 150px;
    right: 45px;
    top: 18px;
    display: none;
}

.modal_change-list {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.modal_change-item:first-child {
    padding-bottom: 15px;
}


.modal_change-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.modal_change-link span {
    margin-left: 10px;
}

.update-item {
    color: #5356FF
}

.delete-item {
    color: red;
}

.active-item {
    color: #4CCD99;
}

.passwordHide {
    border: none;
    outline: none;
    background-color: none;
    text-align: center;
}

.warning-message, .warning-message-update, .warning-password {
    position: absolute;
    display: none
        /*inline-block*/
    ;
    background-color: #ffd6d6;
    color: #e80000;
    padding: 10px;
    border-radius: 5px;
    margin: -11px 0 5px 5px
}

.arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffcccc;
    bottom: -8px;
    left: 11px;
    transform: translateX(-50%);
}